SOAP/soap-book-service/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BookService" targetNamespace="http://example.com/bookservice"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/bookservice"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema targetNamespace="http://example.com/bookservice" elementFormDefault="qualified">
            <xsd:element name="getBook">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="id" type="xsd:int" />
                        <xsd:element name="title" type="xsd:string" />
                        <xsd:element name="author" type="xsd:string" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getBookResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int" />
                        <xsd:element name="title" type="xsd:string" />
                        <xsd:element name="author" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="getBookRequest">
        <part name="parameters" element="tns:getBook" />
    </message>
    <message name="getBookResponse">
        <part name="parameters" element="tns:getBookResponse" />
    </message>
    <portType name="BookPortType">
        <operation name="getBook">
            <input message="tns:getBookRequest" />
            <output message="tns:getBookResponse" />
        </operation>
    </portType>
    <binding name="BookBinding" type="tns:BookPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="getBook">
            <soap:operation soapAction="getBook" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="BookService">
        <port name="BookPort" binding="tns:BookBinding">
            <soap:address location="http://localhost:8000/wsdl" />
        </port>
    </service>
</definitions>